* {
    margin: 0%;
    padding: 0%;
    font-family: 'Comic Neue', cursive;
}

footer{
    font-size: 80%;
}

.icon-input{
    font-size: 30px;
}

.conexao{
    font-size: 80%;
}

a{
    text-decoration: none;
    font-size: 80%;
}

.img-top{
    width: 5vh;
    height: 5vh;
}